<!doctype html>
    <title>Edit Driver</title>
    <h2>Edit Driver</h2>
    <form method="post" action="/update_drivers">
        <dl>
            <p>
                <input name="inputDriverName" value="{{ row['driver_name'] }}" type="text" placeholder="DriverName" autocomplete="off" required>
            </p>
            <p>
                <input name="inputDriverLastname" value="{{ row['driver_lastname'] }}" type="text" placeholder="LastName" autocomplete="off" required>
            </p>
        </dl>
        <p>
		    <input name="id" value="{{ row['drivers_id'] }}" type="hidden">
		    <input type="submit" value="Submit">
	    </p>
    </form>